.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
    width: 100%;
    border-top: 1px solid #D0D0D0;
    height: 54px;
    padding-top: 0px;
    position: fixed;
    bottom: 0;
    left:0;
}